li { list-style:none; }

.Scene-main{
	background:url(../images/scene_main.jpg) no-repeat;
	background-size:100% auto;
  	max-width:16rem;
  	height:25rem;
  	position:relative;
  	z-index:1;
  	overflow:hidden;
}

.Scene-tree{
	background:url(../images/scene_tree.png) no-repeat;
	background-size:100% auto;
	width:100%;
  	height:18.4rem;
  	position:absolute;
  	top:1.7rem;
  	z-index:2;
}
.Scene-tree .treelight{
	background-image:url(../images/scene_tree_light1.png),url(../images/scene_tree_light2.png);
	background-size:100% auto;
	background-repeat:no-repeat;
	position:absolute;
	width:100%;
	height:100%;
}
.Ani-treeLight{
	-webkit-animation:treeLight .7s linear infinite;
}
@-webkit-keyframes treeLight{
	0%{background-image:url(../images/scene_tree_light1.png) }
	49%{ background-image:url(../images/scene_tree_light1.png)}
	50%{ background-image:url(../images/scene_tree_light2.png);}
	99%{ background-image:url(../images/scene_tree_light2.png);}
	100%{background-image:url(../images/scene_tree_light1.png) }
}

.Scene-snow1,
.Scene-snow2,
.Scene-snow3{
	background-size:100% auto;
	background-repeat:no-repeat;
	width:16rem;
	height:19.8rem;
	position:absolute;
	left:0;
	z-index:10;
	top:-19.8rem;
}
.Scene-snow1{
	-webkit-animation:snowing 15s linear infinite -20s;
	background-image:url(../images/scene_snow1.png);
}
.Scene-snow2{
	-webkit-animation:snowing 30s linear infinite -15s;
	background-image:url(../images/scene_snow2.png);
}
.Scene-snow3{
	-webkit-animation:snowing 40s linear infinite -5s;
	background-image:url(../images/scene_snow3.png);
}

@-webkit-keyframes snowing{
	90%{ opacity:1;}
	100%{ -webkit-transform:translateY(34rem); opacity:0;}
}

.Scene-field,
.Scene-field2{
	background:url(../images/scene_field.png) no-repeat;
	background-size:100% auto;
	width:100%;
  	height:6rem;
  	position:absolute;
  	bottom:0;
  	z-index:4;
}
.Scene-field2{
	background-position:0 -6rem;
	z-index:6;
}
.Symbol-list li{
	-webkit-transform-origin:50% 0;
	background:url(../images/symbol_gifts.png) no-repeat;
	background-size:100% auto;
	width:2.5rem;
	height:3rem;
	position:absolute;
}
.Symbol-list li:nth-child(1){
	top:3.1rem;
	left:8rem;
}
.Symbol-list li:nth-child(2){
	background-position:0 -3.25rem;
	left:4rem;
	top:4rem;
}
.Symbol-list li:nth-child(3){
	background-position:0 -6.5rem;
	left:9.8rem;
	top:7rem;
}
.Symbol-list li:nth-child(4){
	background-position:0 -9.75rem;
	left:4.5rem;
	top:7.67rem;
}
.Symbol-list li:nth-child(5){
	background-position:0 -13rem;
	left:1.7rem;
	top:8rem;
}
.Symbol-list li:nth-child(6){
	background-position:0 -16.25rem;
	left:8rem;
	top:7.85rem;
	height:3.5rem;
}
.Symbol-list li:nth-child(7){
	background-position:0 -20rem;
	left:5rem;
	top:10.52rem;
}
.Symbol-list li:nth-child(8){
	background-position:0 -23.25rem;
	height:3.5rem;
	left:10.3rem;
	top:9.7rem;
}
.Symbol-list li:nth-child(9){
	background-position:0 -27.5rem;
	height:3.5rem;
	top:12.7rem;
	left:3.4rem;
}
.Symbol-list li:nth-child(10){
	background-position:0 -31.25rem;
	left:7.7rem;
	top:13.5rem;
}
.Symbol-list li:nth-child(11){
	background-position:0 -34.5rem;
	top:14.1rem;
	left:1.7rem;
}

.Symbol-star{
	width:5.5rem;
	height:4.5rem;
	position:absolute;
	top:5.2rem;
	left:5.2rem;
}
.Symbol-star .starbody,
.Symbol-star .starlight{
	background:url(../images/symbol_star.png) no-repeat;
	background-size:100% auto;
	width:100%;
	height:100%;
	position:absolute;
}

.Symbol-star .starlight{
	background:url(../images/symbol_starlight.png) no-repeat;
	background-size:100% auto;
}
.Ani-starShow{
	-webkit-animation:starShow 1.5s ease-in-out infinite;
}
@-webkit-keyframes starShow{
	50%{  opacity:0.92;}
}

.Ani-starTwinkle{
	-webkit-animation:starTwinkle 1.5s ease-in-out infinite;
}

@-webkit-keyframes starTwinkle{
	50%{  opacity:0.5;}
}
.Ani-starSwing{
	-webkit-animation:starSwing 2.5s ease-in-out infinite;
	-webkit-transform-origin:50% 0;
}
@-webkit-keyframes starSwing{
	0%{ -webkit-transform:rotate(-2deg);}
	50%{ -webkit-transform:rotate(2deg);}
	100%{ -webkit-transform:rotate(-2deg);}
}
.Ani-starFall{
	-webkit-animation:starFall 1.5s cubic-bezier(.69,.04,.77,1.09) forwards .3s;
}
@-webkit-keyframes starFall{
	40%{ -webkit-transform: translateY(0);}
	100%{ -webkit-transform: translateY(10rem) rotate(6deg);}
}



.Ani-treeShake{
	-webkit-animation:treeShake .8s ease-out .6s;
	-webkit-transform-origin:50% 100%;
}
@-webkit-keyframes treeShake{
	0%{ -webkit-transform:rotate(0);}
	5%{ -webkit-transform:rotate(1.8deg);}
	10%{ -webkit-transform:rotate(-1.8deg);}
	15%{ -webkit-transform:rotate(1.8deg);}
	20%{ -webkit-transform:rotate(-1.8deg);}
	25%{ -webkit-transform:rotate(1.8deg);}
	30%{ -webkit-transform:rotate(-1.6deg);}
	35%{ -webkit-transform:rotate(1.4deg);}
	40%{ -webkit-transform:rotate(-1.2deg);}
	45%{ -webkit-transform:rotate(1deg);}
	50%{ -webkit-transform:rotate(-0.9deg);}
	55%{ -webkit-transform:rotate(0.8deg);}
	60%{ -webkit-transform:rotate(-0.7deg);}
	65%{ -webkit-transform:rotate(0.6deg);}
	70%{ -webkit-transform:rotate(-0.5deg);}
	75%{ -webkit-transform:rotate(0.4deg);}
	80%{ -webkit-transform:rotate(-0.3deg);}
	85%{ -webkit-transform:rotate(0.2deg);}
	90%{ -webkit-transform:rotate(-0.1deg);}
	95%{ -webkit-transform:rotate(0.05deg);}
	100%{ -webkit-transform:rotate(0deg);}
}
@-webkit-keyframes lightShow{
	50%{ -webkit-transform:scale(0.9); opacity:0.8}
}

.Ani-powerRun{
	-webkit-animation:powerRun 1.5s linear infinite;
}
@-webkit-keyframes powerRun{
	0%{ height:1.6rem;}
	50%{ height:11.4rem;}
	100%{ height:1.6rem;}
}


.Ani-powerRun{
	-webkit-animation:powerRun 1.5s linear infinite;
}


.Ani-paused{
	-webkit-animation-play-state: paused;
}



.Ctl-init{
	left:5.3rem;
}